.container{
    text-align: center;
}
.left{
    width: 60%;
    cursor: pointer;
    height: 800px;
    overflow: scroll;
}
.left1{
    width: 30%;
}
.left h3{
    margin-bottom: 0;
}
.left p {
    font-size: small;
}
.card:hover{
    background-color: whitesmoke;
}
.card1{
    background-color: whitesmoke;
    margin: 0px 10px 0px 40px;
    padding: 10px 30px 10px 30px;
}
.card{
    margin: 0px 10px 0px 40px;
    padding: 10px 30px 10px 30px;
}
.d-flex{
    display: flex;
}
.right p{
    margin: 0px 60px 40px 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  img{
    height: 180px;
    width: 200px;
    border-radius: 10px;
  }
 
.right{
    background-color: whitesmoke;
}
.Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Loader-spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  